*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
.row {
  margin-right: 0!important;
}

.item1 { grid-area: header; }
.item2 { grid-area: main; }
.item3 { grid-area: right; }
.item4 { grid-area: nadpis;}
.item5 { grid-area: left;}
.item6 { grid-area: middle;}
.item7 {grid-area: map; }
.item8 { grid-area: form;}



.grid-container {
  display: grid;
  grid-template-areas:
  'header header header header header header'
  'main main main right right right';
  font-weight: bold;
  text-decoration: none;
  padding-top: 50px;

}

.grid-container > div {
  background-color: darkgoldenrod;
  text-align: center;
  font-size: 20px;
}

.grid-obrazok {
  display: grid;
  grid-template-areas:
  'nadpis nadpis nadpis nadpis picture picture'
  'left left middle middle picture picture ';
  font-weight: bold;
  text-decoration: none;
  background-image: url("src/assets/onasbck.jpg");
  height: 50vh;
  background-size: cover;
}

.grid-obrazok > div {
  color:  darkgoldenrod;
  text-align: center;
  font-size: 20px;
  background-color: rgba(50, 50, 50,.9);
}

.grid-map-form {
  display: grid;
  grid-template-areas:
  'map map map form form form ';
  background-color: 	#57504d;
  color:  lightgoldenrodyellow;
  text-align: center;
  font-size: 20px;

}

.mb-3 {
  height: 50%;
  width:  90%;
}


@media only screen and (max-width: 900px){

  .grid-container{
    grid-gap: 0px;
    grid-template-columns: 120px auto 120px;
    grid-template-areas:
        "header header header"
        "main main main"
        "right right right"
        "nadpis nadpis nadpis"
        "left left left"
        "middle middle middle";
  }
  .grid-map-form{
    grid-gap: 0px;
    grid-template-columns: 120px auto 120px;

    grid-template-areas:
        "map map map"
        "form form form";
  }
  .or{
    order: 1;
  }

}

.map-responsive{
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
  /*left: 35px;
  top: 25px;*/
  height:80%;
  width:95%;
}

.map-responsive iframe{
  left: 35px;
  top: 25px;
  height:100%;
  width:100%;
  position:absolute;

}



input[type=text], select, textarea {
  width: 80%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: darkgoldenrod;
  color: white;
  padding: 8px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
  background-color: red;
}


.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  clear: both;

}



