<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
<link rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<app-navigation></app-navigation>
<div class="grid-container  "  >
  <div class="item1" style="font-size: 30px">Kontakty</div>

  <div class="item2" title="sidlo">Sídlo
    <p title=" Sadovská 2856 075 01 Trebišov ">
      Q-SERVICE ® RR AUTOSERVIS <br>
      Sadovská 2856 <br>
      075 01 Trebišov <br>
      <br>
      Mobil: +421 944 188 666 <br>
      E-mail: <a style="color: black" href="https://www.google.com/intl/sk/gmail/about/"> gmail.com </a> <br>
      Web : <a style="color: black" href="https://rr.q-service.sk/kontakt/"> rrautoservis.sk </a> <br>
      <br>
  </div>
  <div class="item3" title="Otváracie hodiny">Otváracie hodiny
    <p title=" Pondelok:	07:30 - 16:30
      Utorok:	07:30 - 16:30
      Streda:	07:30 - 16:30
      Štvrtok:	07:30 - 16:30
      Piatok:	07:30 - 16:30
      Sobota:	Zatvorené
      Nedeľa:	Zatvorené">
      Pondelok:	07:30 - 16:30 <br>
      Utorok:	07:30 - 16:30 <br>
      Streda:	07:30 - 16:30 <br>
      Štvrtok:	07:30 - 16:30 <br>
      Piatok:	07:30 - 16:30 <br>
      Sobota:	Zatvorené <br>
      Nedeľa:	Zatvorené <br>

    </p>

  </div>

</div>
<div class= "grid-obrazok">
  <div class="item4" title="Zodpovedne osoby">Zodpovedné osoby </div>
  <div class="item5" >
    <p>
      <img  class = "men" id="miro"  src="src/assets/male.png" style="width:100px; height:100px"> <br>
      Miroslav Gurega<br>
      zodpovedná osoba<br>

      Telefón: 0944 188 666<br>
      E-mail: <a class="links" style="color: darkgoldenrod" href="https://www.google.com/intl/sk/gmail/about/"> gmail.com </a> <br>
    </p>
  </div>
  <div class="item6">
    <p>
      <img class = "men"  src="src/assets/male.png" style="width:100px; height:100px"> <br>
      Dávid Pekár<br>
      zodpovedná osoba<br>

      Telefón: 0944 188 666<br>
      E-mail: <a class = "links" style="color: darkgoldenrod" href="https://www.google.com/intl/sk/gmail/about/"> gmail.com </a> <br>
    </p>
  </div>
</div>

<div class="grid-map-form">
  <div class="item7" style="font-size: 20px">
    Kde nás nájdete:
    <div class="map-responsive">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d167537.90286013024!2d21.105971035221746!3d48.995749059096!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x473eed64cbe0034d%3A0x400f7d1c69755a0!2zUHJlxaFvdg!5e0!3m2!1ssk!2ssk!4v1668780677158!5m2!1ssk!2ssk"
              width="500" height="500" style="border:0;" frameborder=”0” allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </div>

  <div class="item8" style="font-size: 20px">
    Kontaktovať nás môžete tu:
    <form>
      <div class="row">
        <div class="col-25">
          <label for="fname">Meno</label>
        </div>
        <div class="col-75">
          <input type="text" id="fname" name="firstname" placeholder="Meno...">
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="lname">Priezvisko</label>
        </div>
        <div class="col-75">
          <input type="text" id="lname" name="lastname" placeholder="Priezvisko...">
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="country">Krajina</label>
        </div>
        <div class="col-75">
          <select id="country" name="country">
            <option value="slovensko">Slovensko</option>
            <option value="česko">Česká republika</option>
            <option value="polsko">Poľsko</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="subject">Odkaz</label>
        </div>
        <div class="col-75">
          <textarea id="subject" name="subject" placeholder="Napíšte niečo..." style="height:200px"></textarea>
        </div>
      </div>
      <div class="row">
        <input style="width:100px; height:50px; text-align:center; margin-left: 43%; margin-bottom: 10px;" type="submit" value="Odoslať">
      </div>
    </form>

  </div>
</div>




<footer>
  Webove technologie <br>
  © 2022 <br>
  <a href="https://www.facebook.com" class="fa fa-facebook" ></a>
  <a href="https://twitter.com/" class="fa fa-twitter"></a>
  <a href="https://www.youtube.com" class="fa fa-youtube"></a>
  <a href="https://www.instagram.com" class="fa fa-instagram"></a>
</footer>

