* {
  margin: 0;
  padding: 0;
}
.vypisForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("src/assets/break.jpg");


}
.vypisForm h1 {
  color: orange;
  text-align: center;
}
.input{
  width: 70%;
 height: 38px;
  border-radius: 5px;
  font-size: 25px;

}
.loginbtn,.closebtn {
  margin-top:25px;
  width: 50%;
  background-color: orange;
}
.label{
  color: white;
  font-size: 25px;
}

