<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
<link rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<app-navigation></app-navigation>
<section class="header-section" id="" >
  <h1 class="header-title" title="Autoservis, ktorý vam opraví auto">Autoservis, ktorý vam opraví auto <br> rýchlo a spoľahlivo</h1>
</section>
<section class=" section-reasons  ">
  <h2 class="header-title2" title="4 dovody prečo práve my">4 dovody prečo práve my:</h2>

  <div class="reasons">
    <div class="reason">
      <span class="material-symbols-outlined">handyman</span>
      <h4 class="reason-title" title="Komplexnosť"> Komplexnosť</h4>
    </div>
    <div class="reason"> <span class="material-symbols-outlined">workspace_premium</span>
      <h4 class="reason-title" title="Záruka"> Záruka</h4></div>
    <div class="reason"> <span class="material-symbols-outlined">recommend</span>
      <h4 class="reason-title" title="Profesionalita"> Profesionalita</h4></div>
    <div class="reason"> <span class="material-symbols-outlined">verified_user</span>
      <h4 class="reason-title" title="Odbornosť"> Odbornosť</h4></div>
  </div>
</section>
<section class="about" id="about">
  <div class="about-text">
    <h3 class="about-title " title="Sekcia o nas"> O nás</h3>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam, provident.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum, voluptate.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore excepturi odio provident quasi quibusdam quo
    rerum vel, voluptatum? Ab, dicta doloribus magnam maxime minus nam perspiciatis quae totam? Eos, libero?100
  </div>

</section>
<h2 class="serv-title" title="Sekcia sluzby">Služby</h2>

<section class="services">

  <a href="/sluzby#break" >
    <div  class="serv serv-1">
      <div class="serv-text" title="Servis brzd"> Servis bŕzd</div>
    </div> </a>
  <a href="/sluzby#repair" >
    <div class="serv serv-2">
      <div class="serv-text" title="Opravy"> Opravy</div>
    </div> </a>
  <a href="/sluzby#pneu" >
    <div class="serv serv-3">
      <div class="serv-text" title="Pneuservis"> Pneuservis</div>
    </div> </a>
  <a href="/sluzby#oil" >
    <div class="serv serv-4">
      <div class="serv-text" title="Vymena oleja"> Výmena oleja</div>
    </div> </a>
  <a href="Sluzby.htm/sluzby#dpf" >
    <div class="serv serv-5">
      <div class="serv-text" title="Cistenie dpf"> Čistenie DPF</div>
    </div> </a>

</section>
<div class="btnallsec">
  <button class="btnall" title="Tlacitko vsetky sluzby"><a href="Sluzby.html" class="all-serv">Všetky služby</a></button>
</div>

<footer title="sekcia footer">
  Webove technologie <br>
  © 2022 <br>
  <a href="" class="fa fa-facebook" ></a>
  <a href="" class="fa fa-twitter"></a>
  <a href="" class="fa fa-youtube"></a>
  <a href="" class="fa fa-instagram"></a>
</footer>
